<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="plantilla/template :: head"></head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3 p404 centered">
        <img th:src="@{/app/img/500.png}" alt="">
        <h1>ERROR 500</h1>
        <h3>¡¡Ay!! ¡Algo salió mal!</h3>
        <br>
        <p><a th:href="@{/index}">Volvamos al inicio</a>
      </div>
    </div>
  </div>
  <footer th:replace="plantilla/template :: footer"></footer>
</body>
</html>
