<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="plantilla/template :: head"></head>
<body>
<section id="container">
    <header th:replace="plantilla/template :: header"></header>
    <aside th:replace="plantilla/template :: aside"></aside>
    <section id="main-content">
        <section class="wrapper">
            <h3><i class="fa fa-angle-right"></i> Solicitar nueva venta</h3>
            <div class="row mt">
                <div class="col-lg-12">
                    <h4><i class="fa fa-angle-right"></i> Por favor complete los campos</h4>
                    <div class="form-panel">
                        <div class="form">
                            <!-- FORMULARIO -->
                            <form class="cmxform form-horizontal style-form" id="signupForm" method="get" action="">
                                <div class="form-group ">
                                    <label for="Producto" class="control-label col-lg-2">Producto</label>
                                    <div class="col-lg-10">
                                        <select class="form-control" name="Producto" id="Producto">
                                            <option th:each="Item : ${listaDeProductos}"
                                                    th:value="${Item.id_product+' - '+Item.price}"
                                                    th:text="${Item.product}"
                                                    th:selected="false"
                                            />
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="lastname" class="control-label col-lg-2">Lastname</label>
                                    <div class="col-lg-10">
                                        <input class=" form-control" id="lastname" name="lastname" type="text" />
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="username" class="control-label col-lg-2">Username</label>
                                    <div class="col-lg-10">
                                        <input class="form-control " id="username" name="username" type="text" />
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="password" class="control-label col-lg-2">Password</label>
                                    <div class="col-lg-10">
                                        <input class="form-control " id="password" name="password" type="password" />
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="confirm_password" class="control-label col-lg-2">Confirm Password</label>
                                    <div class="col-lg-10">
                                        <input class="form-control " id="confirm_password" name="confirm_password" type="password" />
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="email" class="control-label col-lg-2">Email</label>
                                    <div class="col-lg-10">
                                        <input class="form-control " id="email" name="email" type="email" />
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="agree" class="control-label col-lg-2 col-sm-3">Agree to Our Policy</label>
                                    <div class="col-lg-10 col-sm-9">
                                        <input type="checkbox" style="width: 20px" class="checkbox form-control" id="agree" name="agree" />
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="newsletter" class="control-label col-lg-2 col-sm-3">Receive the Newsletter</label>
                                    <div class="col-lg-10 col-sm-9">
                                        <input type="checkbox" style="width: 20px" class="checkbox form-control" id="newsletter" name="newsletter" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-offset-2 col-lg-10">
                                        <button class="btn btn-theme" type="submit">Save</button>
                                        <button class="btn btn-theme04" type="button">Cancel</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- /form-panel -->
                </div>
                <!-- /col-lg-12 -->
            </div>
        </section>
    </section>
</section>
<footer th:replace="plantilla/template :: footer"></footer>
</body>
</html>
