<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="plantilla/template :: head"></head>
<body>
<section id="container">
  <header th:replace="plantilla/template :: header"></header>
  <aside th:replace="plantilla/template :: aside"></aside>
    <section id="main-content">
      <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i> Hola <span sec:authentication="name"></span> Bienvenido al Stock de Productos</h3>
        <div class="row mt">
          <div class="col-lg-12">
            <div class="content-panel">
              <h4><i class="fa fa-angle-right"></i> Solicite un nuevo producto </h4>
              <section id="no-more-tables">
                <table class="table table-bordered table-striped table-condensed cf">
                  <thead class="cf">
                    <tr>
                      <th>Producto</th>
                      <th class="numeric">Precio</th>
                      <th class="numeric">Stock</th>
                      <th class="center">Solicitar</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="Item : ${listaDeProductos}">
                      <td th:text="${Item.product}"></td>
                      <td th:text="${Item.price}"class="numeric"></td>
                      <td th:text="${Item.stock}"class="numeric"></td>
                      <td class="center"><a th:href="@{/formNuevoPedido/${Item.id_product}}" type="button" class="btn btn-theme btn-xs"><i class="fa fa-download"></i></a></td>
                    </tr>
                  </tbody>
                </table>
              </section>
            </div>
            <!-- /content-panel -->
          </div>
          <!-- /col-lg-12 -->
        </div>
        <!-- /row -->
      </section>
      <!-- /wrapper -->
    </section>
  </section>
  <footer th:replace="plantilla/template :: footer"></footer>
</body>
</html>
